header {
    /* background-color: #FF0000; */
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.logo {
    content: url(../images/holberton-logo.png);
    padding-left: 20px;
    /* align-items: left; */
    vertical-align: middle;

}